{% block nav %}
{% comment %} Navbar {% endcomment %}
<nav class="navbar navbar-expand-lg bg-dark"  data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img alt="CETI" width="30" height="24" src="../static/img/ceti_escudo.png" >
            CETI
        </a>
        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " href="{% url 'home' %}"><i class="bi bi-person-square"></i> Empleados</a>
                <a class="nav-link" href="{% url 'gestion_oficio' %}"><i class="bi bi-house"></i> Oficio</a>
            </div>
        </div>    
    </div>
</nav>
{% endblock %}